In [2]:
import pandas as pd 

dtypes={'K33': object, 'K35':object}

df = pd.read_csv('../data/processed/mental_health.csv', sep =',', dtype=dtypes)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22072 entries, 0 to 22071
Columns: 428 entries, Unnamed: 0 to CUADROS_DEPRESIVOS
dtypes: float64(425), int64(1), object(2)
memory usage: 72.1+ MB

Codigo para comprobar los datos de las columnas filtro

In [4]:
# import pandas as pd

# columna_filtro = ""

# # Valores específicos en 'columna_filtro' que queremos filtrar
# valores_especificos = [1, 2]

# #-------------------

# # Filtrar el DataFrame para incluir solo las filas donde 'columna_filtro' está en los valores específicos
# df_filtrado = df[df[columna_filtro].isin(valores_especificos)]

# # Ahora 'df_filtrado' contiene solo las filas donde 'columna_filtro' está en los valores específicos
# # y puedes trabajar con la columna con los datos activados de este DataFrame filtrado según sea necesario.
# print(df_filtrado)

Me quedo con mis columnas para limpiar

In [5]:
def texto_a_lista(texto):
    lista_resultado = texto.split('\n')
    lista_resultado = [item.strip() for item in lista_resultado if item]
    return lista_resultado

Mi parte del dataset

In [6]:
mis_columnas = '''H26_1
H26_2
H26_3
H27
J30
J31
K32
K33
K34
K35
K36
K37
K38
K38a
K38b
L39_1
L39_2
L39_3
L39_4
L39_5
L40
L41
L42_1
L42_2
L42_3
L42_4
L42_5
L42_6
L42_7
L43
L44
L45
L46
N48
N49
N50
N51
N52
N53
N54
N57
N58_1
N58_2
N58_3
N59
N60_1
N60_2
N60_3
N60_4
N60a_1
N60a_2
N60a_3
N60a_4
N61_1
N61_2
N61_3
N61_4
N61_5
N62
N62b
N63_1
N63_2
N63_3
N63_4
N63_5
N63_6
N63_7
N63_8
N63_9
N63_10
N64
N65_1
N65_2
N65_3
N65_4
N65_5
N65_6
N65_7
N65_8
O66
O67
O68
O69
O71
O74
O75
O76
O78
O79
O80_1
O80_2
O80_3
O81_1
O81_2
O81_3
O82_1
O82_2
O83
O84_1
O84_2
O84_3
O84_4
O84_5
O84_6
O84_7
O84_8
O84_9
'''

In [7]:
mi_lista_columnas = texto_a_lista(mis_columnas)
print(mi_lista_columnas)

['H26_1', 'H26_2', 'H26_3', 'H27', 'J30', 'J31', 'K32', 'K33', 'K34', 'K35', 'K36', 'K37', 'K38', 'K38a', 'K38b', 'L39_1', 'L39_2', 'L39_3', 'L39_4', 'L39_5', 'L40', 'L41', 'L42_1', 'L42_2', 'L42_3', 'L42_4', 'L42_5', 'L42_6', 'L42_7', 'L43', 'L44', 'L45', 'L46', 'N48', 'N49', 'N50', 'N51', 'N52', 'N53', 'N54', 'N57', 'N58_1', 'N58_2', 'N58_3', 'N59', 'N60_1', 'N60_2', 'N60_3', 'N60_4', 'N60a_1', 'N60a_2', 'N60a_3', 'N60a_4', 'N61_1', 'N61_2', 'N61_3', 'N61_4', 'N61_5', 'N62', 'N62b', 'N63_1', 'N63_2', 'N63_3', 'N63_4', 'N63_5', 'N63_6', 'N63_7', 'N63_8', 'N63_9', 'N63_10', 'N64', 'N65_1', 'N65_2', 'N65_3', 'N65_4', 'N65_5', 'N65_6', 'N65_7', 'N65_8', 'O66', 'O67', 'O68', 'O69', 'O71', 'O74', 'O75', 'O76', 'O78', 'O79', 'O80_1', 'O80_2', 'O80_3', 'O81_1', 'O81_2', 'O81_3', 'O82_1', 'O82_2', 'O83', 'O84_1', 'O84_2', 'O84_3', 'O84_4', 'O84_5', 'O84_6', 'O84_7', 'O84_8', 'O84_9']

In [8]:
df

,Unnamed: 0,CCAA,IDENTHOGAR,A7_2a,SEXOa,EDADa,PROXY_0,PROXY_1,PROXY_2,PROXY_2b,...,Y134,Y135,FACTORADULTO,CLASE_PR,IMC,CMD1,CMD2,CMD3,SEVERIDAD_DEPRESIVA,CUADROS_DEPRESIVOS
0,0,16.0,2500011.0,1.0,1.0,60.0,1.0,NaN,NaN,NaN,...,NaN,NaN,822.756,5.0,2.0,0.00,0.0,0.00,1.0,3.0
1,1,16.0,2500021.0,1.0,2.0,87.0,1.0,NaN,NaN,NaN,...,NaN,NaN,1287.294,1.0,9.0,0.00,0.0,0.00,3.0,3.0
2,2,16.0,2500031.0,1.0,1.0,38.0,1.0,NaN,NaN,NaN,...,NaN,NaN,607.022,4.0,3.0,2.86,0.0,6.67,3.0,2.0
3,3,16.0,2500061.0,2.0,2.0,43.0,1.0,NaN,NaN,NaN,...,1.0,3.0,1303.950,1.0,2.0,5.71,5.0,6.67,1.0,3.0
4,4,16.0,2500071.0,1.0,1.0,41.0,1.0,NaN,NaN,NaN,...,NaN,NaN,1341.778,4.0,3.0,0.00,0.0,0.00,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22067,22067,19.0,4996101.0,5.0,1.0,23.0,1.0,NaN,NaN,NaN,...,NaN,NaN,594.449,5.0,3.0,0.00,0.0,0.00,1.0,3.0
22068,22068,19.0,4996121.0,1.0,2.0,31.0,1.0,NaN,NaN,NaN,...,NaN,NaN,64.813,2.0,2.0,0.00,0.0,0.00,1.0,3.0
22069,22069,19.0,4996131.0,1.0,2.0,79.0,1.0,NaN,NaN,NaN,...,NaN,NaN,58.723,9.0,3.0,0.00,0.0,0.00,1.0,3.0
22070,22070,19.0,4996141.0,2.0,2.0,60.0,1.0,NaN,NaN,NaN,...,NaN,NaN,283.056,5.0,3.0,0.00,0.0,0.00,1.0,3.0
22071,22071,19.0,4996151.0,1.0,1.0,72.0,1.0,NaN,NaN,NaN,...,NaN,NaN,337.239,3.0,3.0,0.00,0.0,0.00,1.0,3.0

In [9]:
def filtrar_columnas(dataframe, lista_nombres):
    """
    Filtra un DataFrame para incluir solo las columnas cuyos nombres están en la lista_nombres.

    Parameters:
    - dataframe: DataFrame de pandas.
    - lista_nombres: Lista de nombres de columnas a incluir.

    Returns:
    - Nuevo DataFrame con las columnas seleccionadas.
    """
    nuevo_dataframe = dataframe[lista_nombres]
    return nuevo_dataframe

In [10]:
mi_trozo_df = filtrar_columnas(df,mi_lista_columnas)

In [11]:
mi_trozo_df

,H26_1,H26_2,H26_3,H27,J30,J31,K32,K33,K34,K35,...,O83,O84_1,O84_2,O84_3,O84_4,O84_5,O84_6,O84_7,O84_8,O84_9
0,2.0,2.0,2.0,NaN,2.0,NaN,1.0,1.0,2.0,1.0,...,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
1,2.0,1.0,2.0,2.0,NaN,NaN,1.0,3.0,2.0,2.0,...,1.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
2,2.0,2.0,1.0,2.0,1.0,40.0,2.0,1.0,2.0,1.0,...,4.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
3,2.0,2.0,1.0,2.0,2.0,NaN,1.0,1.0,2.0,1.0,...,4.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0
4,2.0,2.0,2.0,NaN,2.0,NaN,2.0,1.0,2.0,1.0,...,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22067,2.0,1.0,2.0,2.0,2.0,NaN,2.0,1.0,2.0,1.0,...,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
22068,2.0,2.0,2.0,NaN,2.0,NaN,1.0,1.0,2.0,1.0,...,NaN,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0
22069,2.0,2.0,2.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,...,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
22070,2.0,2.0,2.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,...,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
22071,2.0,2.0,2.0,NaN,NaN,NaN,1.0,1.0,2.0,1.0,...,NaN,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0